@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}
body {
  font-family: spartan;
  font-weight: 400;
  color: #fff;
  background-color: #070722;
}